@import "_variables";

@import "_mixins";

@import "_normalize";

@import "_layout";

/* Components */

@import "components/form_field";
@import "components/general_statistic";
@import "components/links";
@import "components/modal";
@import "components/side_navigation";
@import "components/top_navigation";

 
/* Sections */

@import "section/registration_form";

/* Pages / Views */

@import "pages/registration";

* {
   box-sizing: $border_box;
}

body {
   background: $color_3;
   margin: $margin;
}

/*inside*/

#inside_bottom,
#inside_top,
#inside_modal {
   -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   background-color: $color_2;
   margin: $margin2;
   @media all and (max-width: 991px) {
      margin: auto 0;
   }
   .inside_middle {
      margin-top: $margin-top_2;
   }

   .inside_middle,
   .inside_top,
   .links_top {
      border-bottom: 2px solid $color_13;
      height: 45px;
      h2 {
         color: $color_6;
         font-family: $fonts;
         font-size: 16px;
         font-weight: 500;
         text-transform: uppercase;
         padding-left: $padding-left;
         transform: translateY(50%);
         margin: $margin;
      }
   }
   &.full {
      width: 95%;
      margin: 2% auto;
   }
}

#data_picker {
   height: 108px;
   border-bottom: 2px solid $color_13;
   @include flexbox;
   @include justify-content(center);
   @include align-items(center);
   @media all and (max-width: 450px) {
      flex-direction: column;
   }
   #data_choose {
      width: 325px;
      height: 40px;
      @include border-radius(3px);
      border: 1px solid $color_13;
      display: inline-block;
   }
   #data_choose #one {
      border-right: 1px solid $color_13;
   }
   #data_choose #one,
   #data_choose #two {
      height: 80%;
      width: 50%;
      float: left;
      p {
         padding-left: $padding-left_2;
         font-size: 14px;
         font-weight: 300;
         color: $color_10;
         display: inline-block;
         margin: $margin;
         transform: translateY(50%);
      }
      svg {
         margin-left: 45px;
         transform: translateY(50%);
      }
   }
   #icon_inside {
      position: relative;
      height: 40px;
      width: 40px;
      padding-left: $padding-left;
      display: inline-block;
      @media all and (max-width: 767px) {}
   }
   #data_choose_icon_two {
      position: absolute;
      top: 10px;
      left: 30px;
   }
}

#inside_numbers {
   max-width: 686px;
   margin: $margin3;
   padding-top: $padding_top_2;
   .numbers {
      max-width: 310px;
      max-height: 37px;
      float: left;
      border-bottom: 2px solid $color_13;
      &:nth-of-type(1),
      &:nth-of-type(3) {
         margin-right: $margin-right_2;
         @media all and (max-width: 991px) {
            margin: 0 auto;
            float: none;
         }

      }
      &:nth-of-type(2),
      &:nth-of-type(4) {
         margin-left: $margin-left_2;
         @media all and (max-width: 991px) {
            margin: 0 auto;
            float: none;
         }
      }

      p {
         @include flexbox;
         @include justify-content(space-between);
         color: $color_6;
         font-family: Roboto;
         font-weight: 700;
      }
      span {
         color: $color_10;
         font-weight: 300;
      }
   }

   h3 {
      margin-top: $margin-top_3;
      margin-bottom: $margin-bottom;
      color: $color_6;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 700;
   }
}