//General statistic

#inside_numbers {
   max-width: 686px;
   margin: $margin3;
   padding-top: $padding_top_2;
   .numbers {
      width: 310px;
      height: 37px;
      float: left;
      border-bottom: 2px solid $color_13;
      &:nth-of-type(1),
      &:nth-of-type(3) {
         margin-right: $margin-right_2;
      }
      &:nth-of-type(2),
      &:nth-of-type(4) {
         margin-left: $margin-left_2;
      }
      p {
         @include flexbox;
         @include flex-pack(justify);
         @include justify-content(space-between);
         color: $color_6;
         font-family: Roboto;
         font-weight: 700;
      }
      span {
         color: $color_10;
         font-weight: 300;
      }
   }
   h3 {
      margin-top: $margin-top_3;
      margin-bottom: $margin-bottom;
      color: $color_6;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 700;
   }
   .scroll-wrapper {
      display: block;
      width: 100%;
      overflow-x: auto;
   }

   .scroll-wrapper table {
      width: 100%;
      max-width: 100%;
      img {
         width: 100%;
      }
   }
}