/*side navigation*/

.sidenav {
   width: 188px;
   height: 1746px;
   position: fixed;
   z-index: 2;
   top: 0;
   left: 0;
   background-color: $color_14;
   overflow-x: hidden;
   -webkit-transition: 0.5s;
   transition: 0.5s;
   padding-top: $padding_top;
   a {
      padding: $padding;
      text-decoration: none;
      font-size: 20px;
      color: $color_basic;
      display: block;
      border-left: 4px solid transparent;
      &:hover {
         color: $color_8;
         border-left: 4px solid $color_15;
         background-color: $color_9;
      }
   }
   #logo {
      position: absolute;
      top: 18px;
      left: 20px;
      color: $color_2;
   }
   .hamburger {
      position: absolute;
      top: 20px;
      right: 15px;
      color: $color_2;
   }
   a svg {
      height: 18px;
      width: 15px;
      margin-right: $margin-right;
      path {
         fill: #818181;
      }
   }
   &.show {
      display: block;
   }
}

hr {
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid color_1_brd;
   margin-top: $margin-top;
   margin-bottom: $margin-bottom;
   background-color: $color_10;
}

p {
   height: 10px;
   color: $color_11;
   font-family: $fonts;
   font-size: 14px;
   font-weight: 500;
   text-transform: uppercase;
   padding-left: $padding-left;
}

.menager {
   @include flexbox();
   @include align-items(center);
   svg {
      margin-left: 20px;
   }
   p {
      color: $color_4;
      font-family: $fonts;
      font-size: 14px;
      font-weight: 300;
   }
}

.menager {
   position: relative;
   .circle {
      position: absolute;
      background-color: $color_12;
      width: 11px;
      height: 11px;
      @include border-radius(50%);
      top: 0;
      left: 55px;
   }
}