/*top navigation*/

#top_navigation {
   height: 60px;
   background-color: #fff;
   border-bottom: 2px solid $color_13;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: end;
   -ms-flex-pack: end;
   justify-content: flex-end;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 1;
   p {
      display: inline-block;
      padding: 0 20px;
   }
   #cash {
      width: 185px;
   }
   #not {
      width: 57px;
      position: relative;
   }
   .top_inside .circle_top {
      position: absolute;
      width: 9px;
      height: 8px;
      background-color: #f58220;
      border-radius: 50%;
      top: 17px;
      left: 28px;
   }
   #leo {
      width: 172px;
   }
   #back {
      width: 57px;
   }
   #leo {
      img {
         padding-left: 18px;
      }
      p {
         color: #56819f;
         font-family: Roboto;
         font-size: 12px;
         font-weight: 300;
      }
   }
   #cash p {
      color: #9c9c9c;
   }
   .top_inside {
      height: 60px;
      border-left: 2px solid #e3e3e3;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }
}

